#servers {

    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    height: 100%;
    width: 100%;

    .serverEl {

    }
}

.wrapper {
    display: none;
}