@window-width: 100vw;
@window-height: 100vh;

@primary-color: #795b9f;
@dark-color1: #262626;
@dark-color2: #333333;
@dark-color3: #424242;
@white-color: #ffffff;
@black-color: #000000;

@bg: @dark-color1;
@text-color: @white-color;
@hover-color: fade(@black-color, 20%);

@border-radius: 9px;

@title-bar-color: @dark-color1;
@title-bar-button-color: @dark-color2;
@title-bar-border: 2px;
@title-bar-height: 30px;

@modal-width: 50vw;
@modal-max-width: 750px;
@modal-min-width: 450px;
@modal-height: 400px;

@footer-bar-color: @dark-color1;
@footer-bar-button-color: @dark-color2;
@footer-bar-border: 2px;
@footer-bar-height: 25px;

@body-height: calc(@window-height - @title-bar-height - @footer-bar-height);
@filter-height: 60px;
@table-height: calc(@window-height - @title-bar-height - @filter-height);

:root {
    --primary-color: @primary-color;
    --footer-bar-height: @footer-bar-height;
}

* {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width:10px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: @primary-color; /* Chrome, Safari */
    border-radius: 6px;
    transition: all .2s 0s ease-in-out;
}

*::-webkit-scrollbar-thumb:hover {
    opacity: .8;
}

body, html{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
    background-color: @bg;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid @primary-color;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 1s linear infinite; 
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden { 
    display: none !important;
}

button {
    cursor: pointer;
    outline: none;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s 0s ease-in-out;

    &:disabled {
        opacity: .5 !important;
        cursor: not-allowed !important;
    }

    &.single { 
        width: 35px;
        height: 30px;
        padding: 5px;
        background-color: @dark-color1;
        color: @white-color;
        border-radius: @border-radius;
        border: 2px solid fade(@white-color, 20%);
    }

    &.single:disabled {
        opacity: .5;
    }

    &.single:hover:not(:disabled) {
        background-color: @hover-color;
    }

}

svg {
    min-width: 15px;
    height: 15px;
    transition: all 0.2s .1s ease-in-out;
}

input[type="range"] {
    width: 100%;
    height: 5px;
    background-color: var(--c-bg);
    outline: none;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    accent-color: @primary-color;
    opacity: .7;
    transition: all 0.2s 0s ease-in-out;

    &:hover {
        opacity: 1;
    }
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: @primary-color;
        border-radius: 50%;
        cursor: pointer;
    }
    
    &::-moz-range-thumb {
        width: 15px;
        height: 15px;
        background: @primary-color;
        border-radius: 50%;
        cursor: pointer;
    }
    
}

input[type="text"] {
    width: 100%;
    height: 30px;
    background-color: @dark-color1;
    color: white;
    outline: none;
    border: 2px solid fade(@white-color, 20%);
    border-radius: @border-radius;
    padding: 7px;
    opacity: .7;
    transition: all 0.2s 0s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

.color-input {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid @primary-color;
    overflow: hidden;
}

input[type="color"] {
    -webkit-appearance: none;
    position: absolute;
    top: -8px;
    left: -8px;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
    }

}

.tee {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin: 1rem .5rem;
	background-color: #252525;
    background-size: 16px 16px;
    background-position: 8px 8px,0 0,0 0,0 0;
	border-radius: 2px;
}

.title-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @title-bar-color;
    color: white;
    border-bottom: @title-bar-border solid fade(@white-color, 20%);
    height: @title-bar-height;
    position: relative;
    z-index: 99999;

    .title {
        color: @primary-color;
        width: 40vw;
        padding: 0 10px;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        user-select: none;

        .logo {
            background-image: url("../assets/logocleanmini.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }
    }
    
    .drag {
        -webkit-app-region: drag;
        height: 100%;
        width: 100%;
    }

    .buttons, .system {    
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .button, .buttons button, .system button {
        height: 100%;
        width: 50px;
    }
    
    button {
        background-color: @title-bar-button-color;
        color: @text-color;
        transition: all 0.2s 0s ease-in-out;

        &:hover:not(:disabled) {
            background-color: #b8b8b850;
        }
    }

    .system {
        border-right: @title-bar-border solid fade(@white-color, 20%);
    }
    
    .buttons button#close:hover {
        background-color: #c71111;
    }	
}

.body-content {

    height: @body-height;
    width: @window-width;
    display: flex;

    
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 20px;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-color: fade(@black-color, 50%);
        z-index: 9999;
        display: none;
    
        &.modal-active {
            display: block !important;
        }

        .modal-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backdrop-filter: blur(10px);
        }

        .modal-content {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: @modal-width;
            min-width: @modal-min-width;
            max-width: @modal-max-width;
            height: @modal-height;
            background-color: @dark-color1;
            border: 2px solid @dark-color3;
            border-radius: @border-radius;
            overflow-y: auto;
            color: @text-color;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            justify-content: flex-start;
            overflow: hidden;

            .modal-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: @primary-color;

                h3 {
                    padding-left: 20px;
                    padding-top: 20px;
                }

                #close-modal {
                    height: 100%;
                    width: 40px;    
                    background-color: transparent;
                    color: @primary-color;
                }

                #close-modal:hover svg {
                    width: 20px;
                    height: 20px; 
                }
            }

            .modal-body {
                height: 100%;
                padding: 20px;
                overflow-x: hidden;
                overflow-y: auto;
            
                form {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;

                    input[type="text"], input[type="password"], input[type="number"], button {
                        width: 100%;
                        border-radius: 5px;
                        outline: none;
                        color: var(--c-text);
                    }

                    input[type="text"], input[type="password"], input[type="number"] {
                        padding: 8px 5px;
                        border: 2px solid #3c3c3c;
                        background-color: #282828;
                    }
                }

                button {
                    padding: 13px 0px;
                    border: 2px solid @primary-color;
                    background-color: @dark-color2;
                    font-size: 1.2em;
                    transition: all 0.2s 0s ease-in-out;
                
                    &:hover {
                        background-color: @hover-color !important;
                    }

                    >span {
                        color: @primary-color;
                    }
                }
            }
        }
    }

    .load-page {
        display: none;
        width: 100%;
        height: 100%;
        gap: 30px;
        left: 0;
        top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: @text-color;

        .loader {
            width: 200px;
            height: 200px;
        }

        .cancel-connecting {
            padding: 10px 20px;
            background-color: @dark-color1;
            color: @primary-color;
            font-weight: bold;
            border-radius: @border-radius;
            border: 2px solid fade(@primary-color, 50%);

            &:hover {
                background-color: @hover-color;
            }	
        }
    }


    #servers {

        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: @dark-color2;
        color: @text-color;

        .inputs {
            height: 70px;
            display: flex;
            gap: 15px;
            padding: 15px;
            align-items: center;
            justify-content: center;
            border-bottom: 2px solid fade(@white-color, 30%);

            input[type="text"]#filter {
                width: 50%;
            }

            .direct-connection {

                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                input[type="text"]#directip {
                    width: 100%;
                    border-right: 1px solid fade(@white-color, 30%);
                    border-radius: @border-radius 0 0 @border-radius;
                }

                button.single {
                    width: 70px;
                    border-left: 1px solid fade(@white-color, 30%);
                    border-radius: 0 @border-radius @border-radius 0;
                }
    
            }
        }

        .gotop {
            position: absolute;
            bottom: -200px;
            right: 20px;
            width: 50px;
            height: 50px;
            background-color: @dark-color2;
            color: @primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid fade(@white-color, 30%);
            z-index: 999;
            cursor: pointer;
            border-radius: @border-radius;
            box-shadow: 0 0 10px 0px fade(@black-color, 30%);
            transition: all 1s 0s ease-in-out;

            &:hover {
                background-color: @dark-color1;
            }

            svg {
                width: 30px;
                height: 30px;
            }
        }
    
        .table-wrapper {

            height: @table-height;
            overflow-y: scroll;
            scroll-behavior: smooth;

            table {
                width: 100%;
                border-collapse: collapse;
                overflow: hidden;
                display: block;

                .sort-indicator svg{
                    opacity: 0;
                    width: 20px;
                    height: 20px;
                    fill: fade(@primary-color, 70%);
                }

                th, td {
                    width: 100%;
                    min-width: 15vw;
                    max-width: 300px;
                    padding: 10px 15px;
                    // padding-right: 9vw;
                    text-align: left;
                    user-select: none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @media (max-width: 1200px) {
                        // padding-right: 3vw;
                    }

                    @media (max-width: 800px) {
                        // min-width: 0;
                        // max-width: 100%;
                        min-width: 10vw;
                    }
                }

                th {
                    padding-top: 15px;
                    color: @primary-color;

                    &.sortable {
                        cursor: pointer;
                        // display: flex;
                        // gap: 5px;
                        // flex-direction: row;
                        // align-items: center;
                        // justify-content: center;
                    }
                }

                tr:not(tr:has(th)) {
                    background-color: @dark-color3;
                    cursor: pointer;
                    transition: all 0.2s 0s ease-in-out;
                    
                    &:nth-child(odd) {
                        background-color: fade(@dark-color3, 70%);
                    }

                    &:hover {
                        background-color: @dark-color1;
                    }

                    td, th {

                        &:not(:first-child) {
                            max-width: 200px;
                        }

                    }

                }

                
            }

        }
    }
    
    #joined-server-wrapper {
        display: none;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        color: @text-color;

        .server-info {
            height: 75px;
            width: 100%;
            background-color: @dark-color2;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            gap: 40px;
            border-bottom: 2px solid fade(@white-color, 30%);

            .data{

                display: flex;
                gap: 11%;
                align-items: center;
                justify-content: center;
                width: 100%;
                white-space: nowrap;

                span {
                    min-width: 200px;
                    width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }

        }

        #chat {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            padding-top: 10px;

            >span {
                padding: 7px 15px;
                color: fade(@text-color, 40%);
            }
        }

        .chatTools {
            display: flex;
            align-items: center;
            height: 50px;
            background-color: #333333;
            border-bottom: 1px solid #262626;
            width: 100%;
            padding: 10px 15px;
            gap: 10px;        
        }
    }

}

.footer-bar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: @footer-bar-color;
    color: fade(@white-color, 20%);
    border-top: @footer-bar-border solid fade(@white-color, 20%);
    height: @footer-bar-height;
    font-size: 0.8em;
    position: relative;
    z-index: 9999;
    padding: 0 5px;

    div {
        white-space: nowrap;
    }

    a {
        color: fade(@primary-color, 60%);
        font-weight: bold;
        transition: all 0.2s 0s ease-in-out;

        &:hover {
            color: @primary-color;
        }
    }
    
    .drag {
        -webkit-app-region: drag;
        height: 100%;
        width: 100%;
    }

    button {
        background-color: @footer-bar-button-color;
        color: @text-color;
        transition: all 0.2s 0s ease-in-out;

        &:hover:not(:disabled) {
            background-color: #b8b8b850;
        }
    }

    .buttons button#close:hover {
        background-color: #c71111;
    }	
}
